.btn {
  border-radius: 2rem;
  outline: none;
  font-size: 14px;
  letter-spacing: 2px;
  transition: all 0.4s;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  display: block;
  cursor: pointer;

  @include tablet {
    padding: 0.8rem 1.4rem;
  }
}

.white-btn {
  @extend .btn;
  background: #fff;
  color: #222;
}

.primary-btn {
  @extend .btn;
  background: $blue-color;
  color: #fff;
}
